<div class="ui stackable inverted menu">
  <a href="https://gist.github.com/JaimeStill/4abc034749790c7e492f181db531e2d8" class="header item" target="_blank">
    <i class="github icon red"></i> Angular Overview
  </a>
  <a class="item red" routerLink="/attribute-directives" routerLinkActive="active">Attibute Directives</a>
  <a class="item red" routerLink="/structural-directives" routerLinkActive="active">Structural Directives</a>
  <a class="item red" routerLink="/binding" routerLinkActive="active">Data Binding</a>
  <a class="item red" routerLink="/services" routerLinkActive="active">Services</a>
  <a class="item red" routerLink="/observable" routerLinkActive="active">Observables and Http</a>
  <a class="item red" routerLink="/promise" routerLinkActive="active">Promises and Http</a>
  <a class="item red" routerLink="/jsonp" routerLinkActive="active">Jsonp</a>
  <a class="item red" routerLink="/complex-components" routerLinkActive="active">Complex Components</a>
  <a class="item" href="https://github.com/JaimeStill/Core-Platform-Demo/tree/master" target="_blank">
    <i class="github icon red"></i> GitHub
  </a>
</div>
<div class="ui main container">
  <h2 class="ui header">Angular Overview</h2>
  <div class="ui divider"></div>
  <router-outlet></router-outlet>
</div>